{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-for-of",
    "@babel/plugin-transform-function-name",
    ["styled-components", { "ssr": true, "preprocess": false }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
